* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--main-back);
    color: var(--main-c);
    text-transform: capitalize;
}
:root {
    --main-back: #FF8C00;
    --second-back: #8B0000;
    --third-back: #fff;
    --main-c: #FFFFFF;
    --hover-c: #e67e00;
    --tran: all ease 0.3s;
}
/* fresh */
@media (max-width: 767px) {
    .container-oe {
        margin-right: 25px;
        margin-left: 25px;
    }
}
@media (min-width: 768px) {
    .container-ne {
        margin-right: 25px;
        margin-left: 25px;
    }
}
@media (min-width: 992px) {
    .container-ne {
        margin-right: 25px;
        margin-left: 25px;
    }
}
@media (min-width: 1200px) {
    .container-oe {
        margin-right: 25px;
        margin-left: 25px;
    }
}
@media (min-width: 1400px) {
    .container-on {
        margin-right: 25px;
        margin-left: 25px;
    }
}
/* end-fresh */
/* start-header */

.head .container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    height: 75px;
    padding: 0 50px;
    background-color: var(--second-back);
}
.container header .logo-page {
    text-decoration: none;
    color: var(--main-c);
    font-size: 25px;
}
.container header .logo-page:hover {
    color: var(--hover-c);
}
.container header .nav .hidden-el i {
    display: none;
}
header .hidden-el nav ul {
    display: flex;
}
header .hidden-el nav ul li:first-child a {
    color: var(--hover-c) !important;
    text-decoration: underline;
    text-underline-offset: 10px;
}
header .hidden-el nav ul li {
    list-style: none;
    margin-right: 20px;
}
header .hidden-el nav ul li a {
    color: var(--main-c);
    text-decoration: none;
    font-size: 18px;
    transition: var(--tran);
}
header .hidden-el nav ul li a:hover {
    color: var(--hover-c);
    text-decoration: underline;
    text-underline-offset: 10px;
}



@media (max-width: 767px) {
    .head .container header {
        position: relative;
        padding: 0 30px;
    }
    header .logo-page {
        font-size: 26px;
    }
    .container header .nav .hidden-el i {
        display: inline;
    }
    header .hidden-el nav {
        background-color:#8b0000cb;
        width: 100%;
        position: absolute;
        right: 0;
        top: 75px;
        opacity: 0;
        pointer-events: none;
        transition: var(--tran);
        z-index: 999;
    }
    header .hidden-el:hover nav {
        opacity: 1;
        pointer-events: all;
    }
    header .hidden-el nav ul {
        flex-wrap: wrap;
    }
    header .hidden-el nav ul li:first-child a {
        text-decoration: none;
    }
    header .hidden-el nav ul li:last-child {
        border-bottom: navajowhite;
    }
    header .hidden-el nav ul li {
        width: 100%;
        border-bottom: rgb(240, 240, 240) solid 1px;
        padding-left: 15px;
        margin: 0 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    header .hidden-el nav ul li a:hover {
        text-decoration: none;
    }
}
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {
    .head .container header {
        padding: 0px 75px;
    }
}
@media (min-width: 1400px) {
    .head .container header {
        padding: 0px 125px;
    }
}
/* end-header */
/* start-parent-one */

.parent-one {
    position: relative;
    height: 90vh;
    display: flex;
    justify-content: center;
    background-color:#e67f0010;
}
.parent-one::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(imgs/patrick-tomasso-NlcCPeKNmwg-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(20%);
    width: 100%;
    height: 100%;
    z-index: -1;
}
.parent-one .container-one {
    display: flex;
    align-items: center;
}
.container-one .text {
    text-align: center;
    width: 600px;
}
.container-one .text h1 span {
    color: var(--hover-c);
}
.container-one .text h1 {
    text-transform: uppercase;
    font-size: 40px;
    padding-bottom: 15px;
}
.container-one .text p {
    font-size: 18px;
    line-height: 1.5;
}
.container-one .text a {
    text-decoration: none;
    color: var(--main-c);
    background-color: transparent;
    border: var(--main-back) solid 1px;
    padding: 10px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 7px;
    transition: var(--tran);
}
.container-one .text a:hover {
    background-color: var(--main-back);
}


@media (max-width: 767px) {
    .parent-one .container-one {
        margin-right: 30px;
        margin-left: 30px;
    }
    .parent-one .container-one {
        flex-wrap: wrap;
    }
    .container-one .text {
        width: auto;
    }
    .container-one .text h1 {
        font-size: 35px;
    }

}
@media (min-width: 768px) {
    .parent-one .container-one {
        margin-left: 35px;
        margin-right: 35px;
    }
}
@media (min-width: 922px) {
    .parent-one .container-one {
        margin-left: 50px;
        margin-right: 50px;
    }
}
@media (min-width: 1200px) {
    .parent-one .container-one {
        margin-left: 75px;
        margin-right: 75px;
    }
}
@media (min-width: 1400px) {
    .parent-one .container-one {
        margin-left: 125px;
        margin-right: 125px;
    }
}
/* parent-two */
